<section class="sticky-top navigation">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark">
			<a class="navbar-brand p-0" href="{{ .Site.BaseURL | relLangURL }}">
				<!-- Commenting for now -->
				<!-- {{ if site.Params.logo }}
				<img class="lozad" data-src="{{ site.Params.logo | absURL }}" alt="{{ .Site.Title }}" height="42">
				{{ else }}
				{{ site.Title }}
				{{ end }} -->
				<span style="font-family: 'Quattrocento Sans', sans-serif; font-weight: bold;">DEEPTI</span>
			</a>

			<button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navigation">
				<ul class="navbar-nav ml-auto">
          <!-- menu active -->
          {{ $currentPage := . }}
          {{ range site.Menus.main }}
          {{ $menuURL := .URL | absLangURL }}
          {{ $pageURL:= $currentPage.Permalink | absLangURL }}
          {{ $active := eq $menuURL $pageURL }}
          <li class="nav-item">
            <a class="nav-link" {{if findRE `^http` .URL}}target="_blank" rel="noopener" {{end}}
			  href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{.URL}}{{else}}{{.URL | relLangURL}}{{end}}">{{if eq .Name "blog"}}{{.Name}}{{end}}</a>
          </li>
          {{ end }}
        </ul>
			</div>
		</nav>
	</div>
</section>
